
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.light{
    width:130px;
    height:130px;
    border-radius: 65px;
    margin: 10px;
} 

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.active{
    box-shadow: 0 0 50px white;
}

.tube{
    display: flex;
    width: 100%;
    justify-content: center;
}

.tube div{
    background-color: black;
    width: 20px;
    height: 200px;
}

.box{
    display: flex;
    justify-content: center;
}

.box > div{
    border: 1px solid black;
    background-color: black;
}
